<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
    </Console>
  </Appenders>

  <Loggers>
    <Root level="warning">
      <AppenderRef ref="ConsoleAppender" />
    </Root>
  </Loggers>
</Configuration>
